.btn {
  cursor: pointer;
  color: var(--light-color);
  padding: var(--btn-pad-x) var(--btn-pad-y);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-600);
  }

  &:active {
    background-color: var(--primary-700);
  }

  &.btn-accent {
    color: var(--light-color);
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-600);
    }

    &:active {
      background-color: var(--accent-700);
    }
  }

  &.btn-secondary {
    color: var(--light-color);
    background-color: var(--secondary-color);

    &:hover {
      background-color: var(--secondary-600);
    }

    &:active {
      background-color: var(--secondary-700);
    }
  }

  &.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--light-color);

    &:hover {
      background-color: var(--light-color);
    }

    &:active {
      background-color: var(--light-color);
    }
  }
}
